analyticsenv/

C:\Users\USUARIO\DoC:\Users\USUARIO\Documents\pythonProyecto\data\database.sqlitecuments\pythonProyecto\data\database.sqlite
C:\Users\USUARIO\Documents\pythonProyecto\data\data_description.txt